* {
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  margin-top: 0;
  padding-top: 0;
}

img {
  display: inline-block;
  height: 50px;
  padding-left: 10px;
}

.navi {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.nav {
  display: inline-block;
  justify-content: flex-end;
  padding: 10px 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
  width: 1200px;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product img {
  width: 300px;
  height: 200px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.product h4 {
  padding-top: 0;
  margin-top: 0;
}

.cereal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  width: 1200px;
  height: 700px;
  padding-top: 70px;
}

.textbox {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  height: 500px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
}

.location h2{
  padding-bottom: 15px;
  background-color: transparent;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

.add {
  width: 300px;
  margin: 5px 20px;
  padding: 10px;
  opacity: 1;
}

.footer {
    height: 200px;
}

.copy {
  margin-left: 20px;
  text-align: left;
}
